body {
  height: 100vh;
  display: flex;
  margin-left: 5%;
  margin-right: 10%;
  align-items: top;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.9)60%, rgba(255,255,255, 7))30%;
  overflow: hidden;
}

#game-container {
  /* Överordnad container som innehåller de mindre */
  display: flex; /* Flex ger ett rutmönster */
  flex-direction: column;
  align-items: center; /* Justera mot horisontell mitt */
  width: 80vw;
  height: 40vw;
  padding: 3%; /* Marginal mot webbläsarfönstret */
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  /* border: solid; */
}

#game {
  /* Statisk text */
  display: flex;
  font-family: sans-serif;
  font-size: 30px;
  width: 90%;
  height: 10vh;
  padding: 1%;
  align-items:center; /* Vertikalt centrerad */
  justify-content: center; /* Horisontellt centrerad */
  text-align: center;
  flex-direction: column;
  
  color: white;
  background-color: transparent;
}

#canvas-container {
  display: flex; /* Flex ger ett rutmönster */
  flex-direction: row;
  justify-content: center; /* Centrering på raden, dvs horisontellt */
  align-items: center;
  margin-top: 3%;
  /* width: 80%; */
  width: 100%;
  height: 85%;
  border: 1px solid black;
}


